<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dragons Ice Hockey</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="/static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/creative.css" rel="stylesheet">

    <!-- Temporary navbar container fix -->
    <style>
    .navbar-toggler {
        z-index: 1;
    }

    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }
    </style>

</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-light" id="mainNav">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <a class="navbar-brand" href="#page-top">Dragon Ice Hockey</a>
            <div class="collapse navbar-collapse" id="navbarExample">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#availability">Availability</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="masthead">
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Dragons Ice Summer 2017</h1>
                <p>Winsport Hockey Canada League</p>
                <a class="btn btn-primary btn-xl" href="http://winsport.goalline.ca/show_team_results.php?team_id=806265&league_id=25743">Game Results</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <h2 class="section-heading text-white">History</h2>
                    <hr class="light">
                    <p class="text-faded">Fill In Later!</p>
                    <p class="text-faded">Work in Progress</p>
                    <a class="btn btn-default btn-xl sr-button" href="#availability">Availability</a>
                </div>
            </div>
        </div>
    </section>

    <section id="availability">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">May 15 @ 7:15PM</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-hand-spock-o text-primary sr-icons"></i>
                        <h3>Forwards</h3>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="text-muted">Mike Abdallah</div>
                              </div>
                                <div class="col-sm-6">
                                  <label class="switch">
                                  <input type="checkbox">
                                  <div class="slider round"></div>
                                  </label>
                                </div>
                                <div class="col-sm-6">
                                  <div class="text-muted">Marc Abdallah</div>
                                </div>
                                <div class="col-sm-6">
                                  <label class="switch">
                                  <input type="checkbox">
                                  <div class="slider round"></div>
                                  </label>
                                </div>
                                <div class="col-sm-6">
                                  <div class="text-muted">Chau Bien</div>
                                </div>
                                <div class="col-sm-6">
                                  <label class="switch">
                                  <input type="checkbox">
                                  <div class="slider round"></div>
                                  </label>
                                </div><div class="col-sm-6">
                                  <div class="text-muted">Mike Cheong</div>
                                </div>
                                <div class="col-sm-6">
                                  <label class="switch">
                                  <input type="checkbox">
                                  <div class="slider round"></div>
                                  </label>
                                </div><div class="col-sm-6">
                                  <div class="text-muted">Terence Fong</div>
                                </div>
                                <div class="col-sm-6">
                                  <label class="switch">
                                  <input type="checkbox">
                                  <div class="slider round"></div>
                                  </label>
                                </div><div class="col-sm-6">
                                  <div class="text-muted">Marc Jullion</div>
                                </div>
                                <div class="col-sm-6">
                                  <label class="switch">
                                  <input type="checkbox">
                                  <div class="slider round"></div>
                                  </label>
                                </div><div class="col-sm-6">
                                  <div class="text-muted">Chi Lam</div>
                                </div>
                                <div class="col-sm-6">
                                  <label class="switch">
                                  <input type="checkbox">
                                  <div class="slider round"></div>
                                  </label>
                                </div><div class="col-sm-6">
                                  <div class="text-muted">Jason Mah</div>
                                </div>
                                <div class="col-sm-6">
                                  <label class="switch">
                                  <input type="checkbox">
                                  <div class="slider round"></div>
                                  </label>
                                </div><div class="col-sm-6">
                                  <div class="text-muted">Allen So</div>
                                </div>
                                <div class="col-sm-6">
                                  <label class="switch">
                                  <input type="checkbox">
                                  <div class="slider round"></div>
                                  </label>
                                </div><div class="col-sm-6">
                                  <div class="text-muted">Bryan Wong</div>
                                </div>
                                <div class="col-sm-6">
                                  <label class="switch">
                                  <input type="checkbox">
                                  <div class="slider round"></div>
                                  </label>
                                </div><div class="col-sm-6">
                                  <div class="text-muted">Jeff Wong</div>
                                </div>
                                <div class="col-sm-6">
                                  <label class="switch">
                                  <input type="checkbox">
                                  <div class="slider round"></div>
                                  </label>
                                </div>
                              </div>
                            </div>
                          </div>

                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-hand-lizard-o text-primary sr-icons"></i>
                        <h3>Defense</h3>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="text-muted">JR Bigornia</div>
                              </div>
                                <div class="col-sm-6">
                                  <label class="switch">
                                  <input type="checkbox">
                                  <div class="slider round"></div>
                                  </label>
                                </div>
                                <div class="col-sm-6">
                                    <div class="text-muted">Bobby Chan</div>
                                  </div>
                                    <div class="col-sm-6">
                                      <label class="switch">
                                      <input type="checkbox">
                                      <div class="slider round"></div>
                                      </label>
                                    </div>
                                <div class="col-sm-6">
                                    <div class="text-muted">Mike Christ</div>
                                  </div>
                                    <div class="col-sm-6">
                                      <label class="switch">
                                      <input type="checkbox">
                                      <div class="slider round"></div>
                                      </label>
                                    </div>
                                <div class="col-sm-6">
                                    <div class="text-muted">John Fahlman</div>
                                  </div>
                                    <div class="col-sm-6">
                                      <label class="switch">
                                      <input type="checkbox">
                                      <div class="slider round"></div>
                                      </label>
                                    </div>
                                <div class="col-sm-6">
                                    <div class="text-muted">Robin Menzies</div>
                                </div>
                                    <div class="col-sm-6">
                                      <label class="switch">
                                      <input type="checkbox">
                                      <div class="slider round"></div>
                                      </label>
                                    </div>
                                <div class="col-sm-6">
                                    <div class="text-muted">Robin Tse</div>
                                </div>
                                    <div class="col-sm-6">
                                      <label class="switch">
                                      <input type="checkbox">
                                      <div class="slider round"></div>
                                      </label>
                                    </div>
                                </div>
                              </div>
                            </div>

                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-hand-rock-o text-primary sr-icons"></i>
                        <h3>Goalies</h3>
                        <div class="row">
                          <div class="col-sm-6">
                              <div class="text-muted">Guy Ouellette</div>
                            </div>
                              <div class="col-sm-6">
                                <label class="switch">
                                <input type="checkbox">
                                <div class="slider round"></div>
                                </label>
                          </div>
                          <div class="col-sm-6">
                              <div class="text-muted">Eugene Wong</div>
                            </div>
                              <div class="col-sm-6">
                                <label class="switch">
                                <input type="checkbox">
                                <div class="slider round"></div>
                                </label>
                              </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="/static/img/portfolio/fullsize/1.jpg">
                        <img class="img-fluid" src="/static/img/portfolio/thumbnails/1.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="/static/img/portfolio/fullsize/2.jpg">
                        <img class="img-fluid" src="/static/img/portfolio/thumbnails/2.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="/static/img/portfolio/fullsize/3.jpg">
                        <img class="img-fluid" src="/static/img/portfolio/thumbnails/3.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="/static/img/portfolio/fullsize/4.jpg">
                        <img class="img-fluid" src="/static/img/portfolio/thumbnails/4.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="/static/img/portfolio/fullsize/5.jpg">
                        <img class="img-fluid" src="/static/img/portfolio/thumbnails/5.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="/static/img/portfolio/fullsize/6.jpg">
                        <img class="img-fluid" src="/static/img/portfolio/thumbnails/6.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
<!--
    <div class="call-to-action bg-dark">
        <div class="container text-center">
            <h2>Free Download at Start Bootstrap!</h2>
            <a class="btn btn-default btn-xl sr-button" href="http://startbootstrap.com/template-overviews/creative/">Download Now!</a>
        </div>
    </div>
-->

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <h2 class="section-heading">Whatsapp Chat!</h2>
                    <hr class="primary">
                    <p>Call Bryan</p>
                </div>
                <div class="col-lg-4 offset-lg-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>403-829-8835</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:bryan_k_wong@hotmail.com">bryan_k_wong@hotmail.com</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/tether/tether.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/static/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="/static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->

</body>

</html>
